:root {
  --text-color: #1e1e1d;
  --description-color: #b8b6b2;
  --bg-color: #faf9f4;
  --bg-set-in-color: #e9e8e1;
  --link-color: #008ed5;
  --inline-code-color: #e34361;
  --pic-frame: white;
  --hr-color: #e6e3d8;

  --code-comment: #878e8e;
  --code-keyword: #cf222e;
  --code-namespace: var(--text-color);
  --code-primitive: #0a3069;
  --code-decorator: #673eb3;
  --code-interpol: #00bf58;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #d1d0cc;
    --description-color: #6a6766;
    --bg-color: #1e1e1d;
    --bg-set-in-color: #141413;
    --link-color: #3da1d4;
    --inline-code-color: #f56a81;
    --pic-frame: var(--description-color);
    --hr-color: var(--description-color);

    --code-comment: #565a5a;
    --code-keyword: #e3545c;
    --code-primitive: #90c9ed;
    --code-decorator: #e4a9f0;
    --code-interpol: #61ec81;
  }
}

@view-transition {
  navigation: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0rem;
}

body {
  max-width: 32rem;
  margin: 0 auto;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body * {
  position: relative;
}

p,
ol,
ul,
ol,
blockquote {
  line-height: 1.6;
}

p {
  margin-top: 0.5rem;
}

p.message {
  margin-top: 0rem;
  margin-bottom: 0.2rem;
  background-color: var(--bg-set-in-color);
  padding: 0.6rem 1rem;
  border-radius: 1.2rem;
  max-width: 65%;
  position: relative;
  margin-left: auto;
  z-index: 0;
}

p.message a {
  color: inherit;
  text-decoration: underline;
}

p.message:last-of-type {
  border-radius: 1rem 1rem 0.2rem 1rem;
  margin-bottom: 1rem;
}

p.message.loud {
  animation: loud 1.2s cubic-bezier(.67,-0.62,.18,1.44) 0.5s;
  transform-origin: center;
  border: 2px solid var(--bg-color);
  z-index: 1;
}

@keyframes loud {
  0% { transform: rotate(0deg) translateY(0px) scale(1); }
  50% { transform: rotate(2deg) translateY(-1px) scale(1.1); }
  100% { transform: rotate(0deg) translateY(0px) scale(1); }
}

a {
  text-decoration: none;
  color: var(--link-color);
  display: inline-block;
}

a:visited {
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
}

a:active {
  transform: translateY(1px);
}

nav {
  margin-bottom: 2rem;
}

time {
  color: var(--description-color);
}

hr {
  margin: 2rem 0;
}

footer {
  display: block;
  align-self: bottom;
  color: var(--description-color);
  padding: 2rem 0;
  width: 100%;
  text-align: center;
}

footer a,
footer a:visited {
  color: inherit;
}

hr {
  border: 0.5px solid var(--hr-color);
  outline: none;
}

ul li,
ol li {
  margin-bottom: 0.4rem;
}

img {
  max-width: calc(100% + 12px);
  box-sizing: border-box;
  border: 6px solid var(--pic-frame);
  border-radius: 8px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: -6px;
}

img.no_frame {
  border: none;
  box-shadow: none;
}

figcaption {
  color: var(--description-color);
  font-style: italic;
  text-align: center;
  margin-top: -0.75rem;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}

blockquote {
  margin: 0.5rem 0;
  padding: 0 1.25rem;
  border-left: 0.25rem solid var(--description-color);
  margin-bottom: 1rem;
}

blockquote a,
blockquote a:visited {
  color: inherit;
  text-decoration: underline;
}

blockquote.callout {
  padding-top: 1.5rem;
}

blockquote.callout:before {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  left: 9px;
  width: 1.5rem;
  height: 1.5rem;
  background-color: currentColor;
  mask: url('Push%20Pin.svg') no-repeat center / contain;
}

blockquote.callout.note::before {
  background-image: url('Push%20Pin.svg');
}

pre {
  line-height: 1.6rem;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: scroll;
  background-color: var(--bg-set-in-color);
}

span.icon:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.25rem;
  margin-top: -2px;
  /* Nudged up by 2px */
  width: 1.5rem;
  height: 1.5rem;
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-size: contain;
}

span.icon.rss:before {
  mask-image: url('RSS.svg');
}

span.icon.email:before {
  mask-image: url('Email.svg');
}

span.icon.twitter:before {
  mask-image: url('Twitter.svg');
}

span.icon.bluesky:before {
  mask-image: url('BlueSky.svg');
}

p code,
a code,
li code {
  font-family: monospace;
  color: var(--inline-code-color);
  font-size: 0.9rem;
  background-color: var(--bg-set-in-color);
  border-radius: 0.25rem;
  padding: 0.2rem 0.4rem;
}

a code {
  text-decoration: underline;
}

span.message {
  color: var(--description-color);
  text-align: center;
}

.tag {
  color: var(--description-color);
  display: inline-block;
  margin: 0 0.25rem 0rem 0.25rem;
  text-transform: capitalize;
}

.tag:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.25rem;
  width: 1rem;
  /* Adjusted for icon size */
  height: 1rem;
  /* Adjusted for icon size */
  background-color: currentColor;
  mask-image: url('Tag.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
}

a.tag {
  text-decoration: underline;
  color: var(--description-color);
}

ul.post-tags {
  list-style-type: none;
  /* Removes default list styling */
  padding: 0;
  /* Removes default padding */
  margin: 0.5rem 0 0 0;
  /* Removes default margin */
  display: flex;
  /* Makes the list horizontal */
  flex-wrap: wrap;
  /* Allows list items to wrap if they exceed the container width */
}

ul.post-tags li {
  margin-right: 0.5rem;
  /* Adds spacing between tags */
}

ul.post-tags .tag:first-child {
  margin-left: 0;
  /* Removes left margin for the first tag */
}

.post_preview {
  margin: 0 0 2rem 0;
  box-shadow: 0 1px 0 var(--hr-color);
}

.post_preview h2 {
  margin-top: 0.4rem;
}

.post_preview p {
  margin-bottom: 0.5rem;
}

.post_preview .post-tags {
  margin: 0 0 0.5rem 0;
}

.footnote {
  color: var(--description-color);
  font-size: 0.8rem;
}

.footnote ol {
  margin-left: 0rem;
  padding-left: 1.25rem;
}

.footnote a {
  color: var(--description-color);
}

.codehilite .c {
  color: var(--code-comment);
  font-style: italic
}

/* Comment */
.codehilite .k {
  color: var(--code-keyword);
  font-weight: bold
}

/* Keyword */
.codehilite .o {
  color: var(--code-primitive)
}

/* Operator */
.codehilite .ch {
  color: var(--code-comment);
  font-style: italic
}

/* Comment.Hashbang */
.codehilite .cm {
  color: var(--code-comment);
  font-style: italic
}

/* Comment.Multiline */
.codehilite .cpf {
  color: var(--code-comment);
  font-style: italic
}

/* Comment.PreprocFile */
.codehilite .c1 {
  color: var(--code-comment);
  font-style: italic
}

/* Comment.Single */
.codehilite .cs {
  color: var(--code-comment);
  font-style: italic
}

/* Comment.Special */
.codehilite .ge {
  font-style: italic
}

/* Generic.Emph */
.codehilite .kc {
  color: var(--code-primitive);
  font-weight: bold
}

/* Keyword.Constant */
.codehilite .kd {
  color: var(--code-keyword);
  font-weight: bold
}

/* Keyword.Declaration */
.codehilite .kn {
  color: var(--code-keyword);
  font-weight: bold
}

/* Keyword.Namespace */
.codehilite .kp {
  color: var(--code-keyword)
}

/* Keyword.Pseudo */
.codehilite .kr {
  color: var(--code-keyword);
  font-weight: bold
}

/* Keyword.Reserved */
.codehilite .s {
  color: var(--code-keyword)
}

/* Literal.String */
.codehilite .nb {
  color: var(--code-keyword)
}

/* Name.Builtin */
.codehilite .nc {
  color: var(--code-namespace);
  font-weight: bold
}

/* Name.Class */
.codehilite .nd {
  color: var(--code-decorator)
}

/* Name.Decorator */
.codehilite .nf {
  color: var(--code-namespace)
}

/* Name.Function */
.codehilite .nn {
  color: var(--code-namespace);
  font-weight: bold
}

/* Name.Namespace */
.codehilite .nt {
  color: var(--code-keyword);
  font-weight: bold
}

/* Name.Tag */
.codehilite .ow {
  color: var(--code-primitive);
  font-weight: bold
}

/* Operator.Word */
.codehilite .mb {
  color: var(--code-primitive)
}

/* Literal.Number.Bin */
.codehilite .mf {
  color: var(--code-primitive)
}

/* Literal.Number.Float */
.codehilite .mh {
  color: var(--code-primitive)
}

/* Literal.Number.Hex */
.codehilite .mi {
  color: var(--code-primitive)
}

/* Literal.Number.Integer */
.codehilite .mo {
  color: var(--code-primitive)
}

/* Literal.Number.Oct */
.codehilite .sa {
  color: var(--code-keyword)
}

/* Literal.String.Affix */
.codehilite .sb {
  color: var(--code-keyword)
}

/* Literal.String.Backtick */
.codehilite .sc {
  color: var(--code-keyword)
}

/* Literal.String.Char */
.codehilite .dl {
  color: var(--code-keyword)
}

/* Literal.String.Delimiter */
.codehilite .sd {
  color: var(--code-primitive);
  font-style: italic
}

/* Literal.String.Doc */
.codehilite .s2 {
  color: var(--code-primitive)
}

/* Literal.String.Double */
.codehilite .se {
  color: var(--code-interpol);
  font-weight: bold
}

/* Literal.String.Escape */
.codehilite .sh {
  color: var(--code-keyword)
}

/* Literal.String.Heredoc */
.codehilite .si {
  color: var(--code-interpol);
  font-weight: bold
}

/* Literal.String.Interpol */
.codehilite .sx {
  color: var(--code-keyword)
}

/* Literal.String.Other */
.codehilite .sr {
  color: var(--code-interpol)
}

/* Literal.String.Regex */
.codehilite .s1 {
  color: var(--code-keyword)
}

/* Literal.String.Single */
.codehilite .bp {
  color: var(--code-keyword)
}

/* Name.Builtin.Pseudo */
.codehilite .fm {
  color: var(--code-namespace)
}

/* Name.Function.Magic */
.codehilite .il {
  color: var(--code-primitive)
}

/* Literal.Number.Integer.Long */