{% extends "base.jinja" %}
{% block body %}
<h2>Oh no!</h2>
<p>I'm sorry but that page could not be found. It might have been moved at some point. You might <a href="/blog.html">find it here</a> or otherwise <a href="mailto:mail@dhariri.com">contact me</a> and I'll try to make it up to you.</p>
{% endblock %}