<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="David's place on the web" />
  <meta property="og:site_name" content="David Hariri" />
  <meta property="og:url" content="https://dhariri.com/" />
  <link rel="micropub" href="https://dhariri.com/micropub">
  <title>{% block title %}David Hariri{% endblock %}</title>
  <link href="/static/favicon-light.svg" rel="icon" media="(prefers-color-scheme: light)" />
  <link href="/static/favicon-dark.svg" rel="icon" media="(prefers-color-scheme: dark)" />
  <link rel="stylesheet" href="/static/styles.css?v=2" />
  <link rel="stylesheet" href="/static/Inter/inter.css" />
  <script id="__ada" data-handle="davidgen" src="https://static.ada.support/embed2.js" defer></script>
  <script defer type="text/javascript" src="https://api.pirsch.io/pirsch-extended.js" id="pirschextendedjs"
    data-code="QddGkfSsa4EoG45NhK8x1sdhqQXvaf7n"></script>
</head>

<body>
  <nav>
    <a href="/">Home</a><br />
    <a href="/blog/">Blog</a><br />
    {% for page in pages %}
    <a href="/{{page.path}}">{{ page.title }}</a><br />
    {% endfor %}
  </nav>
  {% block body %}{% endblock %}
  <footer>
    &copy; 2010 — 2024 <a href="mailto:mail@dhariri.com"><span class="icon email"></span>David Hariri</a><br />
    <a href="/feed/">Subscribe via <span class="icon rss">RSS</span></a><br />
    {% block footer %}{% endblock %}
  </footer>
</body>

</html>