<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="David's place on the web" />
    <meta property="og:site_name" content="David Hariri" />
    <meta property="og:url" content="https://dhariri.com/" />
    <meta property="og:image" content="https://dhariri.com/static/Me.webp" />
    <title>{% block title %}David Hariri{% endblock %}</title>
    <link
      href="/static/favicon-light.svg"
      rel="icon"
      media="(prefers-color-scheme: light)"
    />
    <link
      href="/static/favicon-dark.svg"
      rel="icon"
      media="(prefers-color-scheme: dark)"
    />
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/Inter/inter.css" />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-61519816-2"
    ></script>
  </head>
  <body>
    <nav>
      <a href="/blog/">Blog</a><br />
      {% for page in pages %}
      <a href="/{{page.path}}">{{ page.title }}</a><br />
      {% endfor %}
    </nav>
    {% block body %}{% endblock %}
    <footer>
      {% block footer %}&copy; 2022 <a href="/">David Hariri</a>{% endblock %}
    </footer>
  </body>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-61519816-2");
  </script>
</html>
