{% extends "base.jinja" %}
{% block title %}Blog - David Hariri{% endblock %}
{% block body %}
    {% if tagged %}
        <span class="message">Posts about <span class="tag">{{ tagged }}</span></span><br>
    {% else %}
        <ul class="post-tags">
            {% for tag in tags %}
                <li><a class="tag" href="/tagged/{{ tag }}.html">{{ tag }}</a></li>
            {% endfor %}
        </ul>
        <br>
    {% endif %}
    {% if posts %}
        {% for year in posts %}
            <h2>{{ year.year }}</h2>
            <ul>
                {% for post in year.posts %}
                    <li><a href="/{{ post.url_slug }}.html">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% else %}
        <span class="message">No Posts</span>
    {% endif %}
{% endblock %}
