{% extends "base.html" %}
{% block title %}Blog - David Hariri{% endblock %}
{% block body %}

    {% if tagged %}
        <span class="message">Posts about <span class="tag">{{ tagged }}</span></span><br>
    {% else %}
        <ul class="post-tags">
            {% for tag in tags %}
                <li><a class="tag" href="/blog/?tagged={{ tag }}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
        <br>
    {% endif %}
    {% if posts %}
        {% for post in posts %}
            {% include "blog_post_preview.html" %}
        {% endfor %}
    {% else %}
        <span class="message">No Posts</span>
    {% endif %}
{% endblock %}
