{% extends "base.jinja" %}
{% block body %}
    <p>Welcome!</p>
    <p>I'm <a href="about.html">David</a> and this my website.</p>
    {% for post in posts %}
        {% include "post_preview.jinja" with context %}
    {% endfor %}
{% endblock %}
