{% extends "base.jinja" %}
{% block title %}{{ page.title }} - David Hariri{%endblock %}
{% block body %}
<article>
<header>
  <h1>{{ page.title }}</h1>
  <time>Last updated {{ page.date_last_updated|ordinal_date }}</time>
</header>
<div class="article-content">
  {{ page.content|safe }}
</div>
</article>
{% endblock %}
