<div class="post_preview">
    <time>{{ post.date_published|ordinal_date }}</time><br>
    <a href="/{{post.url_slug}}.html">
        <h2>{{ post.title }}</h2>
    </a>
    <p>{{ post.description or "" }}</p>
    {% if post.tags %}
        <ul class="post-tags">
            {% for tag in post.tags %}
                <li><a class="tag" href="/tagged/{{ tag }}.html">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
